<div class="post">
<center><h1><%= @item.name %></h1></center>

<!--- <p>
  Tags:
  <% @item.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p> --->

<div class="media">
  <div class="media-middle">
    <a href="#">
    <center> <img src="<%= @item.image_url %>" alt="..."></center>
    </a>
  </div>
  <div class="media-body">
    <%= @item.description %>
    <a href="<%= @item.buy_url %>">Purchase Item</a>
  </div>
</div>





<h3>Comments</h3>
<%= render partial: 'items/comment', collection: @item.comments %>

<%= render partial: 'comments/form' %>


<%= link_to "<< Back to List", items_path %>


<%= link_to "Delete", item_path(@item), method: :delete %>

<%= link_to "Edit", edit_item_path(@item) %>

</div>
